<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <table>
            <thead>
            <tr>
                <th>Track Name</th>
                <th>Popularity</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            {% for item in trackList %}
            <tr class="flex">
                <td> {{ item.nameTrack}} </td>
                <td> {{ item.popularity }} </td>
                <td> <img src="{{ item.image }}" alt="alternatetext" width="150px" height="auto" ></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
         
        

